<div class="container-fluid" [ngClass]='multiclass'>

  <div class="col">
      <h3 class="display-4 text-center">Movie Analysis</h3>
      <button class="btn btn-primary mb-2 mx-3" 
            (click)="theme('dark')">Dark</button>
      <button class="btn btn-primary mb-2" 
      (click)="theme('light')">Light</button>
      <nav>

        <input class="form-control" placeholder="search" 
                [(ngModel)]='search'(input)="onSearchChange($event.target.value)">


          <ul class="pagination pg-blue justify-content-end">
              <li class="page-item" [ngClass]="{'disabled':p <= 6 }">
                  <span class="page-link"(click)="front()"><<</span>
                </li>
              <li class="page-item" [ngClass]="{'disabled':p ==1  }">
                  <span class="page-link"(click)="firstpage()">First</span>
                </li>
            <li class="page-item " [ngClass]="{'disabled':p ==1 }">
              <span class="page-link"(click)="prepage()">Previous</span>
            </li>
           <ng-container *ngFor='let count of counter(5);let i=index'>
              <li class="page-item "  (click)="page(p+i-2)" [ngClass]="{'active':p == (p+i-2) }">
                <a class="page-link" *ngIf='(p+i-2)>=1 && (p+i-2)<=(totalIndex/10) ;else dash'>{{p+i-2}}</a>
                <ng-template #dash>
                  <a class="page-link disabled">-</a>
                </ng-template>
              </li>
                </ng-container>
            <li class="page-item" [ngClass]="{'disabled':p == 49 }">
              <span class="page-link"(click)="nextpage()" >Next</span>
            </li>
            <li class="page-item"  [ngClass]="{'disabled':p == 49 }">
                <span class="page-link"(click)="lastpage()">Last</span>
              </li>
              <li class="page-item" [ngClass]="{'disabled':p >= 45 }" >
                  <span class="page-link"(click)="back()">>></span>
                </li>
          </ul>
        </nav>

  </div>
  <div class="row">
    <div class="col-md-12 p-0 m-0">
          <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>idx</th>
                  <th (click)='sortname()'>movie</th>
                  <th>director</th>
                  <th>actor_1_name</th>
                  <th>actor_2_name</th>
                  <th>genres</th>
                  <th>language</th>
                  <th>country</th>
                  <th>content_rating</th>
                  <th  (click)="mysort()">budget
                  </th>
                  <th (click)="sortyear()">title_year</th>
                  <th>plot_keywords</th>
                  <th>imdb_link</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let movie of whicharr;let i=index'>
                    <ng-template [ngIf]="i >= firstItemIndex && i<lastItemIndex">
                      <td scope="row">{{(i+1)}}</td>
                      <td scope="row">{{movie.movie_title}}</td>
                      <td scope="row">{{movie.director_name}}</td>
                      <td scope="row">{{movie.actor_1_name}}</td>
                      <td scope="row">{{movie.actor_2_name}}</td>
                      <td scope="row">{{movie.genres}}</td>
                      <td scope="row">{{movie.language}}</td>
                      <td scope="row">{{movie.country}}</td>
                      <td scope="row">{{movie.content_rating}}</td>
                      <td scope="row">{{movie.budget}}</td>
                      <td scope="row">{{movie.title_year}}</td>
                      <td scope="row">{{movie.plot_keywords}}</td>
                      <td scope="row"><a href="{{movie.movie_imdb_link}}" target="_blank">{{movie.movie_imdb_link}}</a></td>
                   </ng-template>
                </tr>
              </tbody>
             </table>
    </div>
  </div>
  <div class="row text-center">
        </div>
</div>
